head
    link(rel='stylesheet' href='slider.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
body
    .slider#banner
        span
            i.fa.fa-angle-left
        span.right
            i.fa.fa-angle-right
        .slidesCont
            .slides
                .slide
                    img(src='http://7-themes.com/data_images/out/53/6951941-big-elephant-africa-nature-photo.jpg')
                .slide
                    img(src='http://www.journeysbydesign.com/media/com_journeysbydesigncontent/images/entity/main/Fynbos-Landscape-at-Grootbos-Private-Nature-Reserve_South-Africa.jpg')
                .slide
                    img(src='http://7-themes.com/data_images/out/53/6951941-big-elephant-africa-nature-photo.jpg')
                .slide
                    img(src='http://www.journeysbydesign.com/media/com_journeysbydesigncontent/images/entity/main/Fynbos-Landscape-at-Grootbos-Private-Nature-Reserve_South-Africa.jpg')
        .sliderLoader
            .value

    .slider
        span
            i.fa.fa-angle-left
        span.right
            i.fa.fa-angle-right
        .slidesCont
            .slides
                .slide
                    div
                        div
                .slide
                    div
                        div
                .slide
                    div
                        div
                .slide
        .sliderLoader
            .value
        .dots
    script(src='slider.js')