doctype html
head
    link(rel='stylesheet' href='slider.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
body
    .slider#banner
        .autoSlider
            .value
        .slides
            -for(var i = 5; --i;)
                img(src="imgs/#{i}.jpg").slide

    .slider#objects
        .arrows
            i.fa.fa-angle-left
            i.fa.fa-angle-right
        .slides
            -for(var i = 5; --i;)
                .slide
                    .fas
                    .fas
            .slide
                .fas
        .dots

    script(src='hammer.min.js')
    script(src='slider.js')